// Variables
$color-primary:#14BDAC;
// $color-primary:#57407B;
$color-body:#F2EBD3;
$color-whitePaint:#545454;
$bgcolor-grid:#14BDAC;
$color-gamecell:#0DA192;
$win-color:#f37070;
//CONTAINER
$container-margin:17px 50% auto 50%;
// STATUS - NEW BUTTON/TIME
$new-button-padding: 0px 10px;
$status-action-border-radius: 10px;
$status-fSize:1.35rem;
// GRID
$grid-width: 150rem;
$grid-gap:8px;
//GAME CELL
$game-cell-width:4rem;
$game-cell-height:4rem;
$game-cell-borderRadius:10px;
$numFont-Size:3rem;